<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	You under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<description>
      yspaper-web
    </description>
	<display-name>yspaper-web</display-name>

	<servlet>
		<servlet-name>DeliveryODataServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>com.yspaper.delivery.web.RootODataServiceFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeliveryODataServlet</servlet-name>
		<url-pattern>/delivery/odata/*</url-pattern>
	</servlet-mapping>

	<!-- Define a Security Constraint on this Application -->
	<!-- NOTE: None of these roles are present in the default users file -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>yspaper ui</web-resource-name>
			<url-pattern>/delivery/ui/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>yspaper-gui</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>yspaper odata</web-resource-name>
			<url-pattern>/delivery/odata/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>yspaper-odata</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Define the Login Configuration for this Application -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Tomcat Manager Application</realm-name>
	</login-config>

	<!-- Security roles referenced by this web application -->
	<security-role>
		<description>
      The role that is required to access the yspaper ui
    </description>
		<role-name>yspaper-gui</role-name>
	</security-role>
	<security-role>
		<description>
      The role that is required to access the yspaper odata
    </description>
		<role-name>yspaper-odata</role-name>
	</security-role>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
